Repository john-waczak/scikit-latent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, mypy, pydoclint

.pre-commit-config.yaml:

repos:
    - repo: local
      hooks:
          # Check merge conflicts
          - id: check-merge-conflict
            name: check-merge-conflict
            entry: check-merge-conflict
            language: system
            types_or:
                - bash
                - ini
                - json
                - jupyter
                - markdown
                - mdx
                - pyi
                - python
                - shell
                - toml
                - yaml
          # Fix end of files
          - id: end-of-file-fixer
            name: end-of-file-fixer
            entry: end-of-file-fixer
            language: system
            types_or:
                - bash
                - json
                - jupyter
                - markdown
                - mdx
                - pyi
                - python
                - shell
                - toml
                - yaml
          # Format Markdown files
          - id: mdformat
            name: mdformat
            entry: mdformat
            language: system
            types:
                - markdown
            args:
                - --number
                - --wrap=120
                - --end-of-line=lf
          # Remove trailing white space
          - id: trailing-whitespace
            name: trailing-whitespace
            entry: trailing-whitespace-fixer --markdown-linebreak-ext=md
            language: system
            types_or:
                - bash
                - ini
                - json
                - jupyter
                - markdown
                - mdx
                - pyi
                - python
                - shell
                - toml
                - yaml
          # Apply all Ruff linting rules to Python code
          - id: ruff-check
            name: ruff-check
            entry: ruff check
            language: system
            types_or:
                - jupyter
                - pyi
                - python
            args:
                - --config=pyproject.toml
          # Apply all Ruff formatting rules to Python code
          - id: ruff-format
            name: ruff-format
            entry: ruff format
            language: system
            types_or:
                - jupyter
                - pyi
                - python
            args:
                - --config=pyproject.toml
          # Check type hints
          - id: mypy
            name: mypy
            entry: mypy
            language: system
            types:
                - python
            args:
                - --config=pyproject.toml
          # Check docstrings
          - id: pydoclint
            name: pydoclint
            entry: pydoclint
            language: system
            types:
                - python
            args:
                - --config=pyproject.toml
                - --exclude=tests/*

Adding support for pytest
  pyproject.toml
  src/sklatent/__init__.py
  tests/test_sample.py
  uv.lock
Due: mypy, pydoclint

add mkdocs support
  docs/about.md
  docs/index.md
  docs/javascripts/mathjax.js
  docs/reference.md
  mkdocs.yml
  pyproject.toml
  src/sklatent/__init__.py
  src/sklatent/test_funcs.py
  tests/test_sample.py
  uv.lock
Due: mdformat, mypy, pydoclint

adding extra js link to help render latex
  mkdocs.yml
Due: none

Deployed 333c364 with MkDocs version: 1.6.1
  404.html
  about/index.html
  index.html
  reference/index.html
Due: none

reordering js imports
  mkdocs.yml
Due: none

Deployed ab43497 with MkDocs version: 1.6.1
  404.html
  about/index.html
  index.html
  reference/index.html
Due: none

Deployed ab43497 with MkDocs version: 1.6.1
  404.html
  about/index.html
  index.html
  javascripts/mathjax.js
  reference/index.html
  search/search_index.json
Due: none

updating to use script to build code reference docs
  docs/index.md
  docs/javascripts/mathjax.js
  docs/reference.md
  mkdocs.yml
  pyproject.toml
  scripts/gen_ref_pages.py
  uv.lock
Due: mdformat, mypy, pydoclint

Deployed 4a9194c with MkDocs version: 1.6.1
  404.html
  index.html
  objects.inv
  reference/SUMMARY/index.html
  reference/sklatent/index.html
  reference/sklatent/test_funcs/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none
